.animate-show {
        -webkit-transition: all linear 2s;
        transition: all linear 2s;
        opacity:1;
    &.ng-hide-add, &.ng-hide-remove {
        // display: block !important;
        line-height: 1;
    }
    &.ng-hide {
        line-height: 0;
        opacity: 0;
        padding: 0 10px;
    }
}