/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; width:100%;
	&:hover .home-body--illustration {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	}	
} 

.flexslider .slides img {
	display: block;
	@media (max-width: $break-desktop) {
		height: auto;
		width:100%;
  	}
}

.flexslider .slides .result-sidebar img {
	@media (max-width: $break-desktop) {
		width:auto;
  	}
}

.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

.slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a { background:image-url("bg-prev-next.png") 0 0 no-repeat; text-decoration:none; display: none; margin: -24px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; cursor: pointer; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; width:27px; height:48px; overflow: hidden; text-indent: 100%; font-size:0;
}
.flex-direction-nav .flex-prev { left: 25px; }
.opened .flex-direction-nav a {
		display: block;
	@media (max-width: $break-desktop) {
		display: none;
  	}
}
.flex-direction-nav .flex-next { background-position:100% 0; right: 25px; text-align: right; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }

/* Control Nav */
.flex-control-nav {width: 90%; position: absolute; bottom: 0;
	@media (max-width: $break-desktop) {
		text-align: center;
		width:75%;
  	}
}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
 }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {
	height:350px; margin:0 auto; opacity:1; position: static; overflow: auto;
	@media (max-width: $break-desktop) {
		height: auto;
		margin: 0 auto;
		overflow: inherit;
  	}
}
.flex-control-thumbs li {
	width: 20%; margin: 0;
	@media (max-width: $break-desktop) {
		width:50%;
  	}
}
.flex-control-thumbs img { display: block; opacity:1; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: .7;}
.opened .flex-control-thumbs .flex-active {opacity: .7; cursor: default;}
.opened .flex-control-thumbs { opacity:0;  -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;
	@media (max-width: $break-desktop) {
		height: 900px;
		visibility: hidden;
  	}
}