.players {
	span {
		display: none;
	}
	li {
		float: left;
	}
}

/*
.flexslider-container {
	position:absolute;
	left:0;
	top:0;
	z-index:3;
	@media (max-width: $break-desktop) {
		position: relative;
  	}
}
*/

.flexslider-container {
	@media (min-width: $break-desktop) {
		overflow: hidden;
		height: 421px;
	}
	.lt-ie9 & {
		overflow: hidden;
		height: 421px;
	}
}

.flex-viewport {
	@media (max-width: $break-desktop) {
		display: none;
		position: absolute !important;
	}
	@media (min-width: $break-desktop) {
		height: 0;
	}
	.lt-ie9 & {
		height: 0;
	}
	z-index: 5;
	transition: none !important;
	.opened & {
		@media (max-width: $break-desktop) {
			display: block;
		}
		@media (min-width: $break-desktop) {
			height: 421px;
		}
		.lt-ie9 & {
			height: 421px;
		}
	}
}

.flex-direction-nav a {
	top: 30% !important;
}

.bt-see-all-players {
	cursor:pointer;
	display: none;
	position:absolute;
	left:25px;
	z-index:10;
	@media (max-width: $break-desktop) {
		position: static;
  	}
	.opened & {
		display: block;
	}
	.bt-play a {
		background:image-url("see-all-players.png") 10px 10px no-repeat;
		font-size:18px;
		padding-left:42px;
		display: none;
		.opened & {
			display: block;
		}
	}
}

.main-empty-field .flexslider > .slides > li {
	visibility: hidden;
}

.main-empty-field .flexslider .flex-viewport .slides > li {
	visibility: visible;
}



.player {
    .stripe, .opacity, .shadow {
        display: none;
    }
    .color1 {
        fill: #06524D;
    }
    .color2 {
        fill: #03638F;
    }
    &.goalkeeper {
        .color1 {
            fill: #F7941D;
        }
        .color2 {
            fill: #E8D84D;
        }
    }
    &.referee {
        .stripe, .opacity, .shadow {
            display: block;
        }
        .color1 {
            fill: #333132;
        }
        .color2 {
            fill: #333132;
        }
    }
    &.goal {
        display: none;
    }
    &.played {
        .color1 {
            fill: #3B3B3B;
        }
        .color2 {
            fill: #4B4B4B;
        }
    }
}



#question {
	// display: none;
}
