.players {
	span {
		display: none;
	}
	li {
		float: left;
	}
}

/*
.flexslider-container {
	position:absolute;
	left:0;
	top:0;
	z-index:3;
	@media (max-width: $break-desktop) {
		position: relative;
  	}
}
*/

.flexslider-container {
	@media (min-width: $break-desktop) {
		overflow: hidden;
		height: 421px;
	}
}

.flex-viewport {
	@media (max-width: $break-desktop) {
		display: none;
		position: absolute !important;
	}
	@media (min-width: $break-desktop) {
		height: 0;
	}
	z-index: 5;
	transition: none !important;
	.opened & {
		@media (max-width: $break-desktop) {
			display: block;
		}
		@media (min-width: $break-desktop) {
			height: 421px;
		}
	}
}

.flex-direction-nav a {
	top: 30% !important;
}

.bt-see-all-players {
	cursor:pointer;
	display: none;
	position:absolute;
	left:25px;
	z-index:10;
	@media (max-width: $break-desktop) {
		position: static;
  	}
	.opened & {
		display: block;
	}
	.bt-play a {
		background:image-url("see-all-players.png") 10px 10px no-repeat;
		font-size:18px;
		padding-left:42px;
		display: none;
		.opened & {
			display: block;
		}
	}
}

.main-empty-field .flexslider > .slides > li {
	visibility: hidden;
}

.main-empty-field .flexslider .flex-viewport .slides > li {
	visibility: visible;
}