.players {
	span {
		display: none;
	}
	li {
		float: left;
	}
}

.flexslider-container {
	position:absolute;
	left:0;
	top:0;
	z-index:3;
}

.flex-viewport {
	display: none;
	position: absolute !important;
	z-index: 5;
	.opened & {
		display: block;		
	}
}

.bt-see-all-players {
	cursor:pointer;
	display: none;
	position:absolute;
	left:25px;
	z-index:10;
	.opened & {
		display: block;
	}
	.bt-play a {
		background:image-url("see-all-players.png") 10px 10px no-repeat;
		font-size:18px;
		padding-left:42px;
	}
}
