@import "_elements";
@charset "UTF-8";

@font-face {
 font-family: 'Interstate';
  src: url('../fonts/Interstate-Light.eot'); 
  src: url('../fonts/Interstate-Light.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Interstate-Light.woff') format('woff'), 
       url('../fonts/Interstate-Light.ttf')  format('truetype'), 
       url('../fonts/Interstate-Light.svg#b3f1eaab67ba33d7f766bdc7b12fbe90') format('svg'); 
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'InterstateBold';
  src: url('../fonts/Interstate-Bold.eot'); 
  src: url('../fonts/Interstate-Bold.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Interstate-Bold.woff') format('woff'), 
       url('../fonts/Interstate-Bold.ttf')  format('truetype'), 
       url('../fonts/Interstate-Bold.svg#ae7901b26c7bc0ae18e1b2162d35ce34') format('svg'); 
  font-style:   normal;
  font-weight:  700;
}

// STRUCTURE
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family:'Interstate', serif; color:$default-color; }
body {
	background:#252932;
	font-family:'Interstate', serif;
	margin:0;
	padding:0;
	font-size:1em;
}

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

hr { border:0; border-top-width:1px; border-color:#fff; border-style:solid; clear:both; height:0; display:block; margin:0; }

a { color: $default-link-color; text-decoration: none; }
a:hover, a:focus { color: $default-link-color; }
a:hover { text-decoration: none; }
a:focus, input:focus, textarea:focus, button:focus { outline: thin dotted; }

::-moz-selection {
    background: $background-color;
    color:#fff;
    text-shadow: none;
}

::selection {
    background: $background-color;
    color:#fff;
    text-shadow: none;
}

.clear_focus {
	box-shadow: none;
	-webkit-appearance: none;
	border-radius: 0;
}

.disable-hover, .disable-hover * {
  pointer-events: none !important;
}

input[type="text"]:focus,
 input[type="email"]:focus,
  input[type="url"]:focus,
   input[type="password"]:focus,
	textarea:focus, .touch select:focus {
		box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
		border-color: #cecece;
}

.touch input,
	.touch textarea {
	box-shadow: none;
	-webkit-appearance: none;
	border-radius: 0;
}

.left { float:left; }
.right { float:right; }
.aligncenter { text-align:center; }
.alignleft { float:left; margin:0 20px 10px 0; }
.alignright { float:right; margin:0 0 10px 20px; }
.floatleft { float:left; }
.floatright { float:right; }
img.alignleft, img.alignright, img.aligncenter { display:block; }
img.aligncenter { margin-left:auto; margin-right:auto; }

b, strong { font-weight: bold; }
ul, ol { list-style-type:none; margin:0; padding: 0; }
img { border: 0; vertical-align: middle; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; }
button { background:none; border:none; margin:0; padding:0; }
.oldie select, .oldie textarea { vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
.oldie button, .oldie input { overflow: visible; vertical-align: middle; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
.unstyled { list-style-type:none; margin:0; padding:0; }
.clearfix { zoom:1; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.media { overflow:hidden; zoom:1; }
.img-responsive { display: block; max-width: 100%; width: auto; height: auto; -ms-interpolation-mode: bicubic; }
article, header, footer { display: block; margin: 0; padding: 0; }

@import 'animation';
@import 'players';
@import 'flexslider';

// HEADER

.header {
	text-align: center;
}

.entry-title {
	border-bottom:1px solid #fff;
	border-top:1px solid #fff;
	color:#fff;
	display: inline-block;
	font:normal em(77px) 'InterstateBold', serif;
	margin: 0;
	padding:10px 0;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top;
	strong {
		display: block;
		font-size: em(102px,77px);
		margin: 0;
		padding: 0;
	}
	.header-single & {
		font-size: em(51px);
		margin:0 0 20px 0;
		strong {
			font-size: em(38px,51px);
		}
	}
}

// HOME

.home-body {
	display: block;
	margin: 0;
	padding:40px 0 20px 0;
	img {
		display: block;
		margin: 0 auto;
		padding:0;
	}
}

.bt-play {
	display:block;
	margin:0 ;
	padding:0;
	text-align: center;
	a {
		border:1px solid #fff;
		display: inline-block;
		font:normal em(34px) 'InterstateBold', serif;
		margin: 0;
		padding: 10px;
		text-transform: uppercase;
		vertical-align: top;
	}
}

.container {
	display: block;
	margin: 0 auto;
	padding:20px 0 0 0;
	position: relative;
	z-index:1;
	width:940px;
}

.main {
	border:1px solid #fff;
	width: 765px;
	height: 480px;
	background: #7CA105;
	position: relative;
	margin:0 auto;
	padding:0;
	left:0;
	top:0;
	z-index: 1;	
}

#field {

}

.main-inner {
	border:10px solid #252932;
	height:478px;
	margin:0;
	padding:0;
}

#question {
	background:#7EA405;
	position: absolute;
	margin:0;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	width:100%;
}

.answers {
	@include inline-block-list();
	margin:0 0 0 -14px;
	li {
		@include transition(all .25s ease-in);
		@include inline-block-item();
		border:1px solid #fff;
		cursor:pointer;
		display: inline-block;
		margin:0 0 14px 14px;
		text-align: center;
		vertical-align: top;
		width:48%;
		&:hover {
			color:$highlight-color;
		}
	}
	.active {
		background:#bfd186;
	}
}

.progress {
	float: left;
	li {
		display: block;
		float: left;
		margin: 0;
		padding: 0;
	}
	.active {
		font-weight: bold;
	}
}

.player {
	.stripe, .opacity, .shadow {
		display: none;
	}
	.color1 {
		fill: #06524D;
	}
	.color2 {
		fill: #03638F;
	}

	&.goalkeeper {
		.color1 {
			fill: #F7941D;
		}
		.color2 {
			fill: #E8D84D;
		}
	}

	&.referee {
		.stripe, .opacity, .shadow {
			display: block;
		}
		.color1 {
			fill: #333132;
		}
		.color2 {
			fill: #333132;
		}
	}

	&.goal {
		display: none;
	}
}



.line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  display: none;
  &.show {
	stroke-dasharray: 0;
	stroke-dashoffset: 0;
  	display: block;
  }
}

.play_anim .line.anim {
	display: block;
	animation: dash 3s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}