@import 'animation';
@import 'players';

#field {
	width: 800px;
	height: 600px;
	background: #4C4;
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 1;
}

#question {
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 5;
}

.answers {
	.active {
		border: 1px grey solid;
	}
}

.progress {
	.active {
		font-weight: bold;
	}
}

.player {
	.stripe, .opacity, .shadow {
		display: none;
	}
	.color1 {
		fill: #06524D;
	}
	.color2 {
		fill: #03638F;
	}

	&.goalkeeper {
		.color1 {
			fill: #F7941D;
		}
		.color2 {
			fill: #E8D84D;
		}
	}

	&.referee {
		.stripe, .opacity, .shadow {
			display: block;
		}
		.color1 {
			fill: #333132;
		}
		.color2 {
			fill: #333132;
		}
	}

	&.goal {
		display: none;
	}
}



.line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  display: none;
  &.show {
	stroke-dasharray: 0;
	stroke-dashoffset: 0;
  	display: block;
  }
}

.play_anim .line.anim {
	display: block;
	animation: dash 3s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}