@import 'animation';

#field {
	width: 800px;
	height: 600px;
	background: #4C4;
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 1;
}

#question {
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 5;
}

.answers {
	.active {
		border: 1px grey solid;
	}
}

.progress {
	.active {
		font-weight: bold;
	}
}

#player-1 {
}