<div class="footer-inner">
	<div class="footer-main">
		<p class="social">
			<a class="facebook" ng-share-popup ng-share-facebook>Facebook</a>
			<a class="twitter" ng-share-popup ng-share-twitter>Twitter</a>
			<a class="googleplus" ng-share-popup ng-share-google>Google+</a>

			<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="link"></div>

		</p>
		<p class="legal">
			<a href="http://www.radiofrance.fr/mentions-legales/" target="_blank">mentions légales</a> <a class="infos" ng-colorbox>Crédits</a>
		</p>
	</div>
	<div class="footer-left">
		<a href="http://askmedia.fr/" target="_blank"><img src="/quizlesbleus2014/images/logo-askmedia.png" alt=""></a>
	</div>
	<div class="footer-right">
		<a href="http://franceinfo.fr/" target="_blank"><img src="/quizlesbleus2014/images/logo-franceinfo.png" alt=""></a>
	</div>
</div>
<div class="block-credit">
	<div id="credits">
			<h2>Crédits</h2>
			<h3>France Info</h3>
			<ul>
				<li>Laurent Guimier</li>
				<li>Estelle Cognacq</li>
				<li>Journaliste : Yann Bertrand</li>
			</ul>
			<h3>Radio France Nouveaux médias</h3>
			<ul>
				<li>Joël Ronez</li>
				<li>Christilla Huillard-Kann</li>
				<li>Xavier Meunier</li>
				<li>Chloé Leprince</li>
				<li>Chargé éditorial : Antoine Mairé</li>
				<li>Chef de projet : Barbara Miran</li>
				<li>Administratrice : Camille Popper</li>
			</ul>
			<h3>Design et développement</h3>
			<ul>
				<li>ASK Média</li>
			</ul>
			<h3>Remerciements</h3>
			<ul>
				<li>Rodolphe Meunier et la Direction de la documentation de Radio France</li>
				<li>So Foot et ses archives</li>
			</ul>
		</p>

		<p>
			&copy; Radio France, Juin 2014
		</p>
	</div>
</div>
