

<div class="left">
	<a href="http://asmkedia.fr/" target="_blank"><img src="/images/logo-askmedia.png" alt=""></a>
</div>

<div class="center">
	<p class="social">
		<a href="" class="facebook">Facebook</a>
		<a href="" class="twitter">Twitter</a>
		<a href="" class="googleplus">GooglePlus</a>
	</p>
	<p class="legal"><a href="http://www.radiofrance.fr/mentions-legales/" target="_blank">mentions légales</a></p>
</div>

<div class="right">
	<a href="http://franceinfo.fr/" target="_blank"><img src="/images/logo-franceinfo.png" alt=""></a>
</div>
