<div class="footer-left">
	<a href="http://askmedia.fr/" target="_blank"><img src="{{baseurl}}/images/logo-askmedia.png" alt=""></a>
</div>
<div class="footer-main">
	<p class="social">
		<a class="facebook" ng-share-popup ng-share-facebook>Facebook</a>
		<a class="twitter" ng-share-popup ng-share-twitter>Twitter</a>
		<a class="googleplus" ng-share-popup ng-share-google>Google+</a>

		<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="link"></div>

	</p>
	<p class="legal"><a href="http://www.radiofrance.fr/mentions-legales/" target="_blank">mentions légales</a></p>
</div>
<div class="footer-right">
	<a href="http://franceinfo.fr/" target="_blank"><img src="{{baseurl}}/images/logo-franceinfo.png" alt=""></a>
</div>
<div class="footer-legal">
	<p>Radio France décline toute responsabilité quant au contenu des sites proposés en liens</p>
	<p><img src="images/logo-ojd.png" alt="OJD" />La fréquentation de ce site est certifiée par l'OJD</p>
</div>
