    <nav class="topnav-france-info">
       <ul class="unstyled">
         <li><a target="_blank" href="http://www.radiofrance.fr/">radiofrance.fr</a></li>
         <li><a target="_blank" href="http://www.franceinter.fr/">france inter</a></li>
         <li><a target="_blank" href="http://www.franceinfo.fr/">france info</a></li>
         <li><a target="_blank" href="http://www.francebleu.fr/">france bleu</a></li>
         <li><a target="_blank" href="http://www.franceculture.fr/">france culture</a></li>
         <li><a target="_blank" href="http://www.francemusique.fr/">france musique</a></li>
         <li><a target="_blank" href="http://www.fipradio.fr/">fip</a></li>
         <li><a target="_blank" href="http://www.lemouv.fr/">le mouv’</a></li>
         <li><a target="_blank" href="http://concerts.radiofrance.fr/">les orchestres</a></li>
       </ul>
    </nav>
    <div class="tagline-france-info clearfix">
        <div class="left"><a href="http://www.franceinfo.fr" target="_blank"><img src="images/logo-header-france-infos.png" alt="France Info" /></a></div>
        <div class="right">
            <ul>
                <li><a class="facebook" ng-share-popup ng-share-facebook>Facebook</a></li>
                <li><a class="twitter" ng-share-popup ng-share-twitter>Twitter</a></li>
                <li><a href="#" class="infos">Crédits</a></li>
            </ul>
        </div>
    </div>