
<div ng-include="'views/_header.html'"></div>
<div class="container">

	<div class="header">
		<h1 class="entry-title"><strong>Quel Bleu</strong> Êtes-Vous ?</h1>
	</div>
	<div class="home-body">

		<div class="flexslider opened">
			<ul class="slides">
				<li ng-repeat="idx in [1,2,3,4,5,6,7,8]">
					<img ng-src="{{baseurl}}/images/home/player-{{idx}}.png">
					<div class="home-body--illustration home-body--illustration-{{idx}}"></div>
				</li>
			</ul>
		</div>

	</div>
	<div class="bt-play">
		<a href="{{baseurl}}/#/jouer">Jouer</a>
	</div>

	<div class="footer" ng-include="'views/_footer.html'"></div>

</div>