
<div ng-include="'views/_header.html'"></div>
<div class="container">

	<div class="header header-single">
		<h1 class="entry-title"><a href="/quizlesbleus2014/"><strong>Quel Bleu</strong> Êtes-Vous ?</a></h1>
	</div>
	<div class="main main-result">
		<div class="main-inner main-optin">
			<h2 class="optin-title">Coup de sifflet final !</h2>
			<p>Souhaitez-vous être tenu au courant des actualités <br />et des jeux de France Info ?</p>
			<form>
				<input type="text" name="email" placeholder="Mon adresse e-mail..." ng-model="email" />
				<button ng-click="optin()" class="bt-form">
					<strong>Oui merci,</strong> voir le résultat.
				</button>
			</form>
			<button ng-click="goToResult()" class="bt-form">
				<strong>Non merci,</strong> <br /> voir le résultat.
			</button>
		</div><!-- .main-inner -->
	</div><!-- .main -->

	<div class="footer" ng-include="'views/_footer.html'"></div>
</div>
<div class="footer-legal">
	<p>Radio France décline toute responsabilité quant au contenu des sites proposés en liens</p>
	<p><img src="images/logo-ojd.png" alt="OJD" />La fréquentation de ce site est certifiée par l'OJD</p>
</div>