
<div ng-class="['container', slider.opened ? 'opened' : '']">

	<a ng-click="slider.close()" ng-if="slider.opened">Tous les joueurs</a>

	<flex-slider slide="player in slider.players track by player.slug" slideshow="false" animation="slide" control-nav="thumbnails" before="slider.before()">
		<li data-thumb="/images/players/small/{{player.slug}}.png">
			<img ng-src="/images/players/large/{{player.slug}}.png" ng-if="player.slug">
			<div class="bio" data-ng-bind-html="player.bio"></div>
		</li>
	</flex-slider>


	<a href="#/jouer">Rejouer</a>
	<a href="#/resultat">Revenir à mon résultat</a>

</div>