
<div ng-include="'views/_header.html'"></div>
<div class="container">

	<div class="header header-single">
		<h1 class="entry-title"><a href="/quizlesbleus2014/"><strong>Quel Bleu</strong> Êtes-Vous ?</a></h1>
	</div>
	<div class="main main-result main-empty-field">
		<div class="main-inner">
			<div ng-class="['container', 'flexslider-container', slider.opened ? 'opened' : '']">
				<h2 class="players-title">Tous les joueurs</h2>
				<div class="bt-see-all-players"><div class="bt-play"><a ng-click="slider.close()">Tous les joueurs</a></div></div>
				<div class="flexslider">
					<ul class="slides">
						<li ng-repeat="player in slider.players track by player.slug" data-thumb="{{baseurl}}/images/players/small/{{player.slug}}.png">
							<div class="result-block">
								<div class="result-block--inner">
									<div class="media">
										<div class="result-sidebar">
											<img ng-src="{{baseurl}}/images/players/large/{{player.slug}}.png" ng-if="player.slug">
										</div>
										<div class="media result-body">
											<div class="bio" data-ng-bind-html="player.bio"></div>
										</div>
									</div><!-- .media -->
								</div><!-- .result-block-inner -->
							</div><!-- .result-block -->
						</li>
					</ul>
				</div>
			</div>
		</div><!-- .main-inner -->
		<div class="main-footer clearfix">
			<ul>
				<li><a href="#/jouer" class="bt-replay">Rejouer</a></li>
				<li><a href="#/resultat" class="bt-back-to-results">Revenir à mon résultat</a></li>
			</ul>
		</div>
	</div><!-- .main -->

	<div class="footer" ng-include="'views/_footer.html'"></div>

</div>
<div class="footer-legal">
	<p>Radio France décline toute responsabilité quant au contenu des sites proposés en liens</p>
	<p><img src="images/logo-ojd.png" alt="OJD" />La fréquentation de ce site est certifiée par l'OJD</p>
</div>