<div class="header" ng-include="'views/_header.html'"></div>

<header class="header header-single">
	<h1 class="entry-title"><strong>Quel Bleu</strong> Êtes-Vous ?</h1>
</header>
<div class="main main-result">
	<div class="main-inner">
		<div ng-class="['container', slider.opened ? 'opened' : '']">
			<a ng-click="slider.close()" ng-if="slider.opened">Tous les joueurs</a>
			<flex-slider slide="player in slider.players track by player.slug" slideshow="false" animation="slide" control-nav="thumbnails" before="slider.before()">
				<li data-thumb="{{baseurl}}/images/players/small/{{player.slug}}.png">
					<div class="result-block">
						<div class="media">
							<div class="result-sidebar">
								<img ng-src="{{baseurl}}/images/players/large/{{player.slug}}.png" ng-if="player.slug">
							</div>
							<div class="media result-body">
								<div class="bio" data-ng-bind-html="player.bio"></div>
							</div>
						</div><!-- .media -->
					</div><!-- .result-block -->
				</li>
			</flex-slider>
		</div>
	</div><!-- .main-inner -->
	<div class="main-footer clearfix">
		<ul>
			<li><a href="#/jouer">Rejouer</a></li>
			<li><a href="#/resultat">Revenir à mon résultat</a></li>
		</ul>
	</div>
</div><!-- .main -->

<footer class="footer" ng-include="'views/_footer.html'"></footer>

