
<div id="field" ng-class="[state]">
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" width="100%" height="100%" preserveAspectRatio="xMidYMin">
		<g>
			<rect x="28.899" y="0.101" opacity="0.15" fill="#93D06D" width="30" height="455"></rect>
			<rect x="88.899" y="0.101" opacity="0.15" fill="#93D06D" width="30" height="455"></rect>
			<rect x="147.899" y="0.101" opacity="0.15" fill="#93D06D" width="30" height="455"></rect>
			<rect x="206.899" y="0.101" opacity="0.15" fill="#93D06D" width="30" height="455"></rect>
			<rect x="266.899" y="0.101" opacity="0.15" fill="#93D06D" width="29" height="455"></rect>
			<rect x="325.899" y="0.101" opacity="0.15" fill="#93D06D" width="29" height="455"></rect>
			<rect x="385.899" y="0.101" opacity="0.15" fill="#93D06D" width="29" height="455"></rect>
			<rect x="446.899" y="0.101" opacity="0.15" fill="#93D06D" width="29" height="455"></rect>
			<rect x="502.899" y="0.101" opacity="0.15" fill="#93D06D" width="31" height="455"></rect>
			<rect x="562.898" y="0.101" opacity="0.15" fill="#93D06D" width="29" height="455"></rect>
			<rect x="621.898" y="0.101" opacity="0.15" fill="#93D06D" width="29" height="455"></rect>
			<rect x="681.898" y="0.101" opacity="0.15" fill="#93D06D" width="29" height="455"></rect>

			<rect x="6.399" y="7.601" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="728" height="443"></rect>

			<path fill="none" stroke="#FFFFFF" stroke-width="0.918" stroke-miterlimit="10" d="M12.607,6.465c0,3.394-2.751,6.146-6.144,6.146"></path>
			<path fill="none" stroke="#FFFFFF" stroke-width="0.918" stroke-miterlimit="10" d="M727.922,6.465 c0,3.394,2.751,6.146,6.144,6.146"></path>
			<path fill="none" stroke="#FFFFFF" stroke-width="0.918" stroke-miterlimit="10" d="M12.607,448.684 c0-3.394-2.751-6.146-6.144-6.146"></path>
			<path fill="none" stroke="#FFFFFF" stroke-width="0.918" stroke-miterlimit="10" d="M727.922,448.684 c0-3.394,2.751-6.146,6.144-6.146"></path>
			<line fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="369.399" y1="8.101" x2="369.399" y2="450.101"></line>

			<ellipse fill="none" stroke="#FFFFFF" stroke-width="0.918" stroke-miterlimit="10" cx="369.543" cy="228.027" rx="65.808" ry="65.83"></ellipse>

			<path fill="none" stroke="#FFFFFF" stroke-width="0.918" stroke-miterlimit="10" d="M118.094,180.786 c12.321,11.963,19.978,28.708,19.978,47.241c0,18.178-7.366,34.636-19.275,46.549"></path>
			<path fill="none" stroke="#FFFFFF" stroke-width="0.918" stroke-miterlimit="10" d="M622.169,276.385 c-13.009-12.026-21.156-29.24-21.156-48.357c0-19.116,8.146-36.33,21.154-48.356"></path>

			<circle fill="#FFFFFF" cx="369.543" cy="228.027" r="2.344"></circle>

			<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="6.899,119.601 118.399,119.601 118.399,338.601 6.899,338.601"></polyline>
			<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="5.899,164.601 44.399,164.601 44.399,294.601 5.899,294.601"></polyline>
			<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="733.898,119.601 622.398,119.601 622.398,338.601 734.898,338.601"></polyline>
			<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="734.898,164.601 695.398,164.601 695.398,294.601 735.898,294.601"></polyline>
		</g>


		<g class="lines">

			<path ng-repeat="line in lines" id="line-{{line.id}}" ng-class="['line', line.class, (((line.id-1) <= currentQuestion) ? 'show' : ''), (((line.id-2) == currentQuestion) ? 'anim' : '')]" fill="none" stroke="#000000" stroke-width="1" stroke-miterlimit="10" d="{{line.d}}" ></path>

		</g>


		<g class="players">

			<g ng-repeat="player in players" id="{{player.id}}" class="player {{player.class}}" ng-translate="{{player.x}},{{player.y}}">
				<polygon fill="#DDDDDD" points="20.724,6.667 11.227,6.667 12.228,2.667 19.723,2.667" ></polygon>
				<polygon fill="#F0F0F0" points="19.99,8.667 11.961,8.667 12.807,4.667 19.143,4.667" ></polygon>
				<polygon class="color1" fill="#A5A5A5" points="22.024,4.667 30.19,6.859 28.886,13.171 24.209,12.686 25.284,30.667 6.478,30.667 7.553,12.702 2.876,13.142 1.572,6.828 9.738,4.667" ></polygon>
				<polygon class="color2" fill="#CECECE" points="9.738,4.667 24.68,20.692 23.758,8.541 28.886,13.187 30.19,6.851 22.024,4.667" ></polygon>
				<polygon class="color2" fill="#CECECE" points="7.553,12.825 1.914,8.573 1.572,6.923 9.738,4.795" ></polygon>

				<polygon class="opacity" opacity="0.25" fill="#EFF3F3" points="9.738,4.667 24.68,20.692 23.758,8.541 28.886,13.187 30.19,6.851 22.024,4.667" ></polygon>
				<polygon class="stripe" fill="#F3F4E4" points="1.914,8.573 9.14,7.015 4.267,10.2 2.494,11.293" ></polygon>
				<polygon class="stripe" fill="#F3F4E4" points="29.826,8.448 22.914,7.015 23.787,10.2 29.247,11.168" ></polygon>
				<polygon class="shadow" opacity="0.25" fill="#EFF3F3" points="7.553,12.825 1.914,8.573 1.572,6.923 9.738,4.795" ></polygon>
				<polygon class="stripe" fill="#F3F4E4" points="9.015,30.667 11.961,4.667 14,4.667 12.75,30.667" ></polygon>
				<polygon class="stripe" fill="#F3F4E4" points="23,30.667 20.055,4.667 18.015,4.667 18.265,30.667" ></polygon>
			</g>

		</g>

	</svg>
</div>

<div id="question" ng-show="showQuestion" class="animate-show">
	<span class="index">{{currentQuestion+1}}</span><h2 data-ng-bind-html="questions[currentQuestion].title"></h2>
	<ul ng-class="['answers', questions[currentQuestion].display]" id="answers">
		<li ng-repeat="answer in questions[currentQuestion].answers" data-answer="{{answer.val}}" data-ng-bind-html="answer.title" ng-click="selectAnswer(answer)" ng-class="answerClass(answer)"></li>
	</ul>
	<a ng-if="selectedAnswer" ng-click="setAnswer()">Question Suivante</a>

	<ul class="progress">
		<li ng-repeat="question in questions" class="{{currentQuestion==$index && 'active' || '' }}">{{$index+1}}</li>
	</ul>

</div>

